.heading1 {
    background-color: blue; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading2 {
    display: grid;
    background-color: orange;
    justify-content: center;
    text-align: center;
    padding: 0px; 
}

.table-container {
    display: grid;
    justify-content: center;
    align-items: right;
    margin-left: auto;
    margin-right: auto;
}
